@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.1);
}

body::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

.button-background {
  background: linear-gradient(180deg, #37baf2 0%, #2977f5 100%);
  border-radius: 0.4rem;
  color: white;
  padding: 0.5rem 0.75rem;
}

.header-card {
  background: linear-gradient(180deg, #37baf2 0%, #2977f5 100%);
}

.invite-introduction p {
  @apply my-3 text-justify;
}

.invite-introduction h2 {
  @apply text-gray-700 text-2xl font-bold;
}

.invite-introduction a {
  color: #2977f5;
  @apply font-bold;
}

.rules ul {
  @apply list-disc ml-6 my-4;
}

.rules li {
  @apply my-2 text-justify;
}

.invite-navbar .link {
  transition: transform 0.3s ease;
}

.invite-navbar .link:hover {
  transform: translateX(10px);
}

tr {
  width: 100%;
  padding: 0;
}

/* td {
  padding: 0.1rem 0.25rem;
} */
